---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
---

<Layout title="Porfolio de Marc Campo Cabrera">
  <main>
    <Presentation />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>
