<div id="inicio">
  <img src="/public/img/fotoMarc.jpg" alt="marc foto" />
  <h1>Hola, soy Marc Campo</h1>

  <h2>
    Estudiante de Ingeniería Informática y amante de la programación.
    ¡Bienvenido a mi mundo digital!
  </h2>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 99999999999999px;
  }

  h1 {
    padding: 1vw;
  }

  h2 {
    padding: 1vw;
    text-align: center;
    text-wrap: balance;
  }
</style>
